@{
    ViewBag.Title = "會員中心";
    Layout = null;
}

<!DOCTYPE html>

<head>
    <title>窩的中心</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/main.css" />

</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="#" class="logo"><img src="../images/窩居字體設計7.png" width="200" style="margin-top:20px"></a>
        <nav class="right">
            <a href="#" class="button alt">LOG OUT</a>
        </nav>
    </header>


    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li> <a href="/Member/HomePage">首頁</a></li>
            <li><a href="generic.html">找房子</a></li>
            <li><a href="generic.html">找商品</a></li>
        </ul>
        <ul class="actions vertical">
            <li><a href="#" class="button fit">LOG OUT</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h1> 窩的資訊 </h1>
                <p>個人資料|聯絡資料|租房|活動|訊息</p>
            </header>
            <div class="image fit">
                <img src="../images/pic05.jpg" alt="窩的相片" />

            </div>

            <h3 style="font-size:2em"> 個人資料 </h3>


            <table style="border:2px #97CBFF solid;padding:5px;" rules="all" cellpadding='5'>

                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">帳號</td>
                    <td>這裡是第二個欄位第一行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">姓名</td>
                    <td>這裡是第二個欄位第一行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">生日</td>
                    <td>這裡是第二個欄位第二行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">年齡</td>
                    <td>這裡是第二個欄位第二行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">性別</td>
                    <td>這裡是第二個欄位第二行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">年收入</td>
                    <td>這裡是第二個欄位第二行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">密碼</td>
                    <td>這裡是第二個欄位第二行</td>
                </tr>

            </table>
            <table style="border:2px #97CBFF solid;padding:5px;" rules="all" cellpadding='5'></table>
        </div>
        <div class="inner">
            <h3 style="font-size:2em"> 聯絡資料 </h3>
            <table style="border:2px #97CBFF solid;padding:5px;" rules="all" cellpadding='5'>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">手機</td>
                    <td>這裡是第二個欄位第一行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">信箱</td>
                    <td>這裡是第二個欄位第一行</td>
                </tr>
            </table>
        </div>
        <div class="inner">
            <h3 style="font-size:2em"> 租房資訊 </h3>
            <table style="border:2px #97CBFF solid;padding:5px;" rules="all" cellpadding='5'>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">房號</td>
                    <td>這裡是第二個欄位第一行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">房型</td>
                    <td>這裡是第二個欄位第一行</td>
                </tr>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">租金/每期</td>
                    <td>這裡是第二個欄位第一行</td>
                </tr>
            </table>
        </div>

        <div class="inner">
            <h3 style="font-size:2em"> 活動紀錄 </h3>
            <table style="border:2px #97CBFF solid;padding:5px;" rules="all" cellpadding='5'>
                <tr>
                    <td rowspan="1" style="font-size:20px;font-weight:700">參與過</td>
                    <td>哪些團購活動</td>
                </tr>
            </table>
        </div>
        <div class="inner">
            <h3 style="font-size:2em"> 訊息 </h3>
            <table style="border:2px #97CBFF solid;padding:5px;" rules="all" cellpadding='5'>
                <tr>
                    <td style="font-size:20px;font-weight:700">訊息內容</td>
                </tr>
            </table>
        </div>

    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>Get In Touch</h2>
            <ul class="actions">
                <li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
                <li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
                <li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
            </ul>
        </div>

    </footer>

    <!-- Scripts -->
    <script src="~/Content/HomePage/js/util.js"></script>
    <script src="~/Content/HomePage/js/skel.min.js"></script>
    <script src="~/Content/HomePage/js/main.js"></script>
    <script src="~/Content/HomePage/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/HomePage/js/jquery.min.js"></script>
</body>
