
<script>

    @*$(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("PartialFavorite")",
            data: {
                page:1,
                MemberID :  1
            },
            success: function (data) {
                $("#container").html(data);
            }
        });

        setInterval(function () {
            $("#timer").html(new Date().getSeconds());
        }, 1000)
        //用秒數驗證
    });*@

</script>
<div id="container" style="background-color:aqua">
    lllllllllllllllllllllllllllll
    <p>aaa</p>
    <p>jiji</p>
</div>
<div id="timer"></div>
